@use 'sass:color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $color-dark-gray;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $animation-duration-base ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

input[type='number'] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn {
  display: flex;
  padding: 18px 36px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: $color-blue;
  border: none;
  color: $color-white;
  font-size: 16px;
  line-height: 24px;
  transition: background $animation-duration-base;
  cursor: pointer;

  &:hover {
    background: color.adjust($color-blue, $lightness: 10%);
  }

  &:disabled {
    background: $color-gray;
    cursor: not-allowed;
  }
}