$color-white: #FFF;
$color-black: #000;
$color-light-gray: #DBDFE9;
$color-gray: #99A1B7;
$color-dark-gray: #252F4A;
$color-blue: #20A0FF;
$color-green: #12CE66;
$color-yellow: #E7A23D;
$color-red: #FF4949;

$animation-duration-fast: 0.15s;
$animation-duration-base: 0.3s;
$animation-duration-slow: 0.5s;
