$color-white: #fff;
$color-black: #000;
$color-light-gray: #dbdfe9;
$color-gray: #99a1b7;
$color-dark-gray: #252f4a;
$color-blue: #1b84ff;
$color-green: #12ce66;
$color-yellow: #e7a23d;
$color-red: #ff4949;

$animation-duration-fast: 0.15s;
$animation-duration-base: 0.3s;
$animation-duration-slow: 0.5s;

$breakpoint-tablet: 800px;
$breakpoint-desktop: 1280px;
